appsettings
attrdict
backoff
backports.shutil_which
beautifulsoup4
colorlog
crython
# -e git+https://github.com/ahawker/crython.git#egg=crython
glob2
fs>=2.0,<3.0
future
jsondate
loggly-python-handler
ndg-httpsclient
pathlib2
psutil
pyasn1
pyopenssl
python-dateutil
pytoml
pytest
pyyaml # apt: libyaml-dev python-dev
requests>=2.7.0
requests-toolbelt>=0.4.0
semantic_version
simplekv
six
toolz
urllib3
xmltodict
