appdirs==1.4.3
appsettings==0.8
asn1crypto==0.22.0
attrdict==2.0.0
backoff==1.4.3
backports.shutil-which==3.5.1
beautifulsoup4==4.6.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
colorlog==2.10.0
cryptography==2.8
# -e git+https://github.com/ahawker/crython.git#egg=crython
crython==0.0.7
enum34==1.1.6
fs==2.0.4  # >=2.0,<3.0
future==0.16.0
futures==3.1.1
glob2==0.5
idna==2.5
ipaddress==1.0.18
jsondate==0.1.2
loggly-python-handler==1.0.0
ndg-httpsclient==0.4.2
pathlib2==2.3.0
# pkg-resources
psutil==5.6.6
py==1.4.34
pyasn1==0.2.3
pycparser==2.18
pyopenssl>=19.1.0
pytest==3.1.3
python-dateutil==2.6.0
pytoml==0.1.14
pytz==2017.2
pyyaml>=4.2b1  # apt: libyaml-dev python-dev
requests>=2.20.0
requests-futures==0.9.7
requests-toolbelt==0.8.0
scandir==1.5
semantic-version==2.6.0
simplekv==0.10.0
six==1.10.0
toolz==0.10.0
urllib3>=1.23
xmltodict==0.11.0
