; the path to the directory with data to
; be uploaded/registerd with MyTardis
path = /data/instrument/some_expt_001/

username = powerfuladmin

; don't make this config file world readable !
password = ub3rsecre7z!

; the address of the MyTardis server, including :port
url = http://mytardis-server.edu.au:8000

; upload, staging or shared
storage-mode = upload